* {
  margin: 0px;
}

body {
  margin-right: 12px;
  margin-left: 12px;
}

/*these classes are for the styling of "Have your best call"*/

.text{
  font-size:100px;
}

.text1{
  margin-right: 37px;
  margin-top: -37px;
}
/*till here*/

/*this styling is for the "tag line below header"*/
.text2{
  font-size:22px;
}

.text3{
  margin-right: 5px;
}
/*till here*/

/*this is the styling of buttons*/


h1 {
  font-family: "Kanit", sans-serif;
  color: white;
  font-size: 85px;
}

h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 50px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 22px;
}

h5{
  font-size: "Kanit", sans-serif;
  font-size: 30px;
}

h6{
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font: size 20px;
  line-height: 30px;
}
p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-size: 18px;
  line-height: 32px;
}
.nav {
  background-color: #00caf7;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px 30px;
  font-size: 15px;
}

.btn-default {
  border: 2px solid white;
  border-radius: 40px;
  background: transparent;
}

.btn-primary {
  border-radius: 40px;
  background-color: orangered;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 15px;
}

.btn-info {
  padding: 20px 40px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: #0598b9;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  background: #c1d0d3;
}

.navt {
  color: white;
  font-size: 15px;
  margin-right: 164px;
}

.navt2 {
  color: white;
  font-size: 15px;
}

.navt1 {
  color: orange;
  background: white;
}

.navbar-nav {
  margin-left: auto;
}

.any {
  background-color: #00caf7;
}

.any1 {
  background: linear-gradient(to left, #86e9ff 0%, #ffffff 25%);
}

.any3 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-family: 65px;
}

.perfect{
    padding-top: 190px;
}

.img{
  width:60%;
}

.img1{
  width:60%;
}

@media screen and (max-width:1300px){
  .text{
    font-size:80px;
  }

  .text1{
    margin-right: 30px;
  }

  .text2{
    font-size: 17.5px;
  }

  .try{
    margin-right:70px;
  }
}
@media screen and (max-width: 990px){
  .any1{
    background: white;;
  }

  .buttonmar{
    margin-bottom: 50px;
  }

  .img{
    width: 100%;
  }

  .img1{
    width:90%;
  }

  .text{
    font-size:90px;
    text-align: center;
  }

  .text2{
    text-align: center;
    font-size:19px;
  }

  .text3{
    margin-right: 41px;
  }

  .try{
    margin-right: 285px;
  }

}

@media screen and (max-width:900px){
  .try{
    margin-right: 230px;
  }
}

@media screen and (max-width:800px){
  .try{
    margin-right: 160px;
  }
}

@media screen and (max-width:650px){
  .try{
    margin-right: 85px;
  }
}

@media screen and (max-width: 600px){
  h5{
    font-size: 15px;
  }

  .img1{
    width:100%;
  }
}
  
@media screen and (max-width: 550px){
   .text{
     font-size:60px;
   }

   .text1{
     margin-right: 23px;
     margin-top: -30px;
   }

   .text2{
     font-size:20px;
     text-align: center;
   }

   .try{
     margin-right: 47px;
   }

   .btn{
     padding: 10px 20px;
   }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }

  h2{
    font-size: 25px;
  }

  p{
    font-size: 10px;
  }

  .try{
      margin-top: 15px;
  }

  .perfect{
      padding-top: 80px;
  }

  .buttonmar{
    margin-bottom: 20px;
  }

  .text{
    font-size:40px;
  }
  .text1{
    margin-top: -20px;
    margin-right: 18px;
  }

  .text2{
    font-size:15px;
  }

  .text2{
    margin-left: 43px;
  }

  .btn{
    padding: 2px 6px;
    font-size:7px;
  }

  .try{
    margin-right: 58px;
    margin-top: -1px;
  }
}

@media screen and (max-width:350px){
  .try{
    margin-right: 38px;
  }
}

@media screen and (max-width:300px){
  .text{
    font-size:25px;
    text-align: left;
  }

  .text2{
    text-align:left;
  }

  .text3{
    margin-left: 0px;
  }

  .btn{
    padding: 10px 20px;
    font-size: 12px ;
  }

  .try{
    margin-right: 39px;
    margin-top:30px;
  }

  .try1{
    margin-right: 36px;
  }
}

@media screen and (max-width:250px){
  .text{
    font-size:17px;
  }

  .text1{
    margin-top: -14px;
  }

  .btn{
    padding: 2px 10px;
    font-size: 9px ;
  }

  .try{
    margin-right: 39px;
    margin-top:30px;
  }

  .try1{
    margin-right: 36px;
  }
}

@media  screen and (max-width:200px){
  h2{
    font-size:15px;
  }
  
  .text1{
    margin-top: -4px;
  }
}

